.ath-samsungAndroid {
	bottom: 1.8em;
	left: 50%;
	margin-left: -9em;
}

.ath-stockAndroid {
	right: 1.5em;
	top: 1.8em;
}

.ath-samsungAndroid:after {
	content: '';
	background: #eee;
	background: -webkit-linear-gradient(135deg, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 50%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%);
	position: absolute;
	width: 2em;
	height: 2em;
	bottom: -1.5em;
	left: 0;
}

.ath-stockAndroid:after {
	content: '';
	background: #eee;
	background: -webkit-linear-gradient(-45deg, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 50%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%);
	position: absolute;
	width: 2em;
	height: 2em;
	top: -1.5em;
	right: 0;
}

.ath-container.ath-stockAndroid:before {
	float: left;
	margin: -0.7em 0.5em 0 -0.6em;
}

.ath-container.ath-stockAndroid.ath-icon:before {
	position: absolute;
	right: auto;
	left: 0;
	margin: 0;
	float: none;
}