@font-face{
	font-family:"";
	src:url(".eot?#iefix");
	src:url(".eot?#iefix") format("eot"),
	url(".woff") format("woff"),
	url(".ttf") format("truetype"),
	url(".svg#") format("svg");
}
@font-face{
	font-family:"";
	src:url(".eot?#iefix");
	src:url(".eot?#iefix") format("eot"),
	url(".woff") format("woff"),
	url(".ttf") format("truetype"),
	url(".svg#") format("svg");
}
@font-face{
	font-family:"";
	src:url(".eot?#iefix");
	src:url(".eot?#iefix") format("eot"),
	url(".woff") format("woff"),
	url(".ttf") format("truetype"),
	url(".svg#") format("svg");
}