body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
}
a {
	color:#fff;
	text-decoration:none;
}
.clr, .clear-fix {
	clear:both;
}

#wrapper, #contents, .video {
	overflow:hidden;
	width:1200px;
	height:900px;
}
#wrapper {
	position:relative;
}

#contents {
	position:absolute;
	background:url('img_video_bg.jpg') no-repeat center center;
}
.btnClose {
	position:absolute;
	top:10px;
	right:10px;
	z-index:99999;
	cursor:pointer;
}

