# Reactjs routing to work when refreshing the page
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule . /index.html [L]
</IfModule>

# Prevent viewing of .htaccess
<FilesMatch .htaccess>
	Order allow,deny
	Deny from all
</FilesMatch>

### Domain for .NET
# Add WWW
RewriteCond %{HTTP_HOST} ^creativewiz\.net [NC]
RewriteRule ^(.*)$ http://www.creativewiz.net/$1 [R=301,L]

# Rewrite everything to HTTP
RewriteCond %{HTTP_HOST} ^(www\.)?creativewiz.net$
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ http://www.creativewiz.net/$1 [L,R=301]

### Domain for .UK
# Add WWW
RewriteCond %{HTTP_HOST} ^creativewiz\.uk [NC]
RewriteRule ^(.*)$ https://www.creativewiz.uk/$1 [R=301,L]

# Rewrite everything to HTTPS
RewriteCond %{HTTP_HOST} ^(www\.)?creativewiz.uk$
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://www.creativewiz.uk/$1 [L,R=301]