header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: $white;
    transition: top 0.35s ease-in-out;
    transition-delay: 0.15s;
    &.hide-down {
        top: -($header-height + 10);
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 4px);

        .logo {
            z-index: 1;
            position: relative;
            
            .logo-circle {
                pointer-events: none;
                position: absolute;
                top: -1px;
                left: 130px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                @include keyframes(_headerThemeCircle) {
                    0%  {transform: translateY(0);}
                    5%  {transform: translateY(-4px);}
                    10% {transform: translateY(0);}
                }
                @include animate(_headerThemeCircle, 5s, ease-in, 2s, infinite);
            }
        }

        .navigation {
            nav {
                display: flex;
                gap: 16px;
                align-items: center;
            }

            // button - old way!
            .type-mode {
                position: relative;
                cursor: pointer;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background-color: $dark;
                img {
                    @include centerElement;
                }
            }

            .type-mode-switcher {
                $tmSize: 26px;

                position: relative;
                cursor: pointer;
                display: flex;
                align-items: center;
                background-color: $dark;
                border-radius: 20px;
                height: $tmSize;

                .icon {
                    width: $tmSize;
                    img {
                        margin: 0 auto;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 100%;
                    background-color: $white;
                    border-radius: 50%;
                    border: 3px solid $dark;
                }

                &[data-init="false"] {
                    &::after {
                        transition: left 0.5s;
                    }
                }
            }

            @include mediaQuery($pb-sm, max) {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: $white;
            }
        }

        .hamburger {
            @include mediaQuery($pb-sm) {
                display: none;
            }
            height: 24px;
            padding: 0;
            &:hover {
                opacity: 1;
            }

            .hamburger-inner {
                &, &::before, &::after {
                    background-color: $dark;
                }
            }
        }
    }

    .bottom-outline {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
    }
}

html.no-scroll {
    @include mediaQuery($pb-sm, max) {
        header {
            top: 0 !important;
            .content {
                .navigation {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    nav {
                        flex-direction: column;
                        .type-mode-switcher {
                            margin-top: spacer();
                        }
                    }
                }
            }
        }
    }
}