@font-face{
	font-family:"Amarelinha W01";
	src:url("regular/Amarelinha-W01.eot?#iefix");
	src:url("regular/Amarelinha-W01.eot?#iefix") format("eot"),
	url("regular/Amarelinha-W01.woff") format("woff"),
	url("regular/Amarelinha-W01.ttf") format("truetype"),
	url("regular/Amarelinha-W01.svg#Amarelinha-W01") format("svg");
}