RewriteEngine On
RewriteBase /

#Prevent viewing of .htaccess
<Files .htaccess>
	Order Allow,Deny
	Deny from All
</Files>

RewriteRule ^index\.php/?$ / [L,R=301,NC]
RewriteRule ^([^/.]+)/?$ /?sec=$1 [L]
RewriteRule ^([^/.]+)/([^/.]+)/?$ /?sec=$1&sub=$2 [L]
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/?$ /?sec=$1&sub=$2&sid=$3 [L]